= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    #mysql_container
      %fieldset
        %legend
          = t('.mysql_attributes')

        = string_field %w(mysql datadir)
        = integer_field %w(mysql max_connections)
        = boolean_field %w(mysql slow_query_logging)

      %fieldset
        %legend
          = t(".mysql.ssl_header")

        = boolean_field %w(mysql ssl enabled),
          "data-sslprefix" => "ssl"

        #ssl_container
          = boolean_field %w(mysql ssl generate_certs)
          = string_field %w(mysql ssl certfile)
          = string_field %w(mysql ssl keyfile)
          = boolean_field %w(mysql ssl insecure)
          = string_field %w(mysql ssl ca_certs)
